header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

h1 {
  color: rgb(255, 216, 216);
  font-size: 50px;
  font-weight: 200;
  font-style: italic;
  margin: 0;
  margin-bottom: 0px;
  font-family: 'Libre Baskerville', serif;
}

h2 {
  color: rgb(228, 148, 160);
  font-family: "SF Pro Rounded", sans-serif;
  font-size: 14px;
  font-weight: 100;
}

.butterfly-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;

}

.img-cell {
  height: 210px;
}

.butterfly {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.butterfly img {
  height: 90%;          /* proportions */
  width: auto;          /* normal width */
  transform: scaleX(0.6); 
  transition: transform 0.2s ease, filter 0.2s ease;
  filter: grayscale(100%) brightness(0.4);   
  transform-origin: center;
}

.butterfly:hover img {
  transform: scaleX(1);
  filter: grayscale(0%) brightness(1);
}

.butterfly-label {
  text-align: center;
  opacity: 0;                  /*makes it invisible until hovered over*/
  transform: translateY(5px); /*transition to make it move upwards*/
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.img-cell:hover .butterfly-label {
  opacity: 1;
  transform: translateY(0);
}

.species-name {
  color: #c8d8f0;
  font-family: 'Playfair Display', Georgia, serif;
  font-style: italic;
  font-size: 14px;
  margin: 0;
}
  