header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

h1 {
  color: rgb(255, 216, 216);
  font-size: 50px;
  font-weight: 200;
  font-style: italic;
  margin: 0;
  font-family: 'Libre Baskerville', serif;
}

h2 {
  color: rgb(170, 119, 119);
  font-family: "SF Pro Rounded", sans-serif;
  font-size: 14px;
  font-weight: 100;
}

.butterfly-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

}

.img-cell {
  height: 300px;
}

.img-cell:hover {
  background-color: rgb(20, 12, 17); 
  transition: background-color 0.3s ease;
}

.butterfly {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.butterfly img {
  height: 90%;          /* proportions */
  width: auto;          /* normal width */
  transform: scaleX(0.5); 
  transition: transform 0.5s ease, filter 0.8s ease;
  /* filter: grayscale(100%) brightness(0.4);   */
  transform-origin: center;
}

.butterfly:hover img {
  transform: scaleX(1);
  filter: grayscale(0%) brightness(1);
}