header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  margin: 0;
  font-family: 'Libre Baskerville', serif;
}

h2 {
  color: rgb(177, 121, 121);
  
}