.headtext {
    color: white;
    font-weight: bold;
    font-size: 45%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.maintext {
    color: white;
    font-size: 90%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}

.pictures {
  border-radius: 20px;
}