.mainheading {
    color: white;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.headtext {
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    row-gap: 35px;
}

.maintext {
    color: white;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.pictures {
  border-radius: 20px;
}

.textbox {
    padding: 30px;
    border-radius: 50px;
    max-width: 400px;
    margin-bottom: 20px;

}

.textbox-container {
    display: flex;
    align-items: flex-start;
    gap: 25px;
}