.headtext {
    color: white;
    font-weight: bold;
    font: size 45;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.maintext {
    color: white;
    font: size 40;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.pictures {
  border-radius: 20px;
}