
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  width: 100%;
  text-align: left;

  position: fixed;
  top: 0;
  background-color: white;
  padding: 20px 40px;
}

h1 {
  color: black;
  text-align: left;
  font-size: 30px;
  margin: 0;
  font-family: 'Libre Baskerville', serif;
}


body {
  gap: 20px;

  font-family: "SF Pro Rounded", sans-serif;
  font-weight: 300;
  color: rgb(192, 131, 93);

  margin: 0;
  padding-top: 100px;
  background-color: rgb(240, 230, 226);
}


a {
  color: rgb(122, 122, 122);
  text-decoration: none;  
}

nav ul {
  list-style: none;
  display: flex;
  text-align: center; 
  gap: 70px;
}

.recipe-layout {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  
  gap: 50px;
  padding: 40px;
  
}

.left-side {
  width: 800%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}



.border {
  border: 6px rgb(209, 128, 58);
  border-radius: 25px;
  padding: 10px;
}

video {
  width: 800px;
  height: auto;
  border-radius: 12px;
}

.main-screen{
  display: flex;
  /* gap: 10px; */
  justify-content: flex-start;
  /* margin-bottom: 10px; */
}

/* this is space between ICONS and line between playlist items */
.controls {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.playlist {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;

  padding: 20px;
  border: 5px solid rgb(239, 161, 145);
  /* border-bottom for just the line in between */
  border-radius: 100px;
}

#progress-bar-container {
  width: 100%;
  height: 10px;
  background-color: gray;
  border-radius: 20px;
  
}
#progress-bar {
  width: 0%;
  display: block;
  background-color: rgb(227, 108, 84);
  height: 100%;
  transition: width 0.2s ease;
  border-radius: 20px;
  
}

button {
  cursor: pointer;
  padding: 10px;
  font-size: 1.2rem;
  color: black;
  border-radius: 12px;
  background-color: rgba(249, 197, 197, 0.588);
}

button:hover {
  scale: 1.1;
  background-color: rgb(255, 181, 167);
}

#likes {
  font-size: 1.5rem;
  color: rgb(168, 55, 55);
}

footer {
  width: 100%;
  text-align: center;
  margin-top: 40px;
  padding: 20px;
}
