
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  width: 100%;
  text-align: left;

  position: fixed;
  top: 0;
  background-color: white;
  padding: 20px 40px;
}

h1 {
  color: black;
  text-align: left;
  font-size: 30px;
  margin: 0;
  font-family: 'Libre Baskerville', serif;
}


body {
  gap: 20px;

  font-family: "SF Pro Rounded", sans-serif;
  font-weight: 300;
  color: rgb(192, 131, 93);

  margin: 0;
  padding-top: 100px;
  background-color: rgb(240, 230, 226);
}


a {
  color: rgb(124, 79, 64);
  text-decoration: none;  
}

nav ul {
  list-style: none;
  display: flex;
  text-align: center; 
  gap: 70px;
}

.recipe-layout {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  
  gap: 50px;
  padding: 40px;
  
}

.left-side {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.right-side {
  margin-top: 0px;
  max-width: 800px;
  padding: 20px;
}


.recipe-title {
  font-size: 3rem;
  font-family: 'Libre Baskerville', serif;
  color: rgb(80, 50, 40);
  margin-bottom: 10px;
}

.recipe-description {
  font-size: 1.1rem;
  color: rgb(120, 90, 70);
}

.details {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.recipe-info-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
  margin-top: 50px;
}

.recipe-info-card h3 {
  font-size: 0.9rem;
  color: rgb(150, 110, 90);
  margin-bottom: 6px;
}

.recipe-info-card p {
  font-size: 1.2rem;
  font-weight: 300;
  font-family: "SF Pro Rounded", sans-serif;
  color: rgb(60, 40, 30);
  margin: 0;
}

.ingredients {
  background-color: rgb(255, 255, 255);
  width: 600px;
  padding: 25px;
  margin-top: 60px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ingredients h3 {
  font-size: 1.5rem;
  color: rgb(60, 40, 30);
  font-family: "SF Pro Rounded", sans-serif;
}

.ingredients ul {
  padding-left: 45px;  
}

.ingredients li {
  margin-bottom: 20px;
}

.instructions {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 0;
}

.instructions h3 {
  margin-top: 200px;
  font-size: 1.5rem;
  color: rgb(60, 40, 30);
  font-family: "SF Pro Rounded", sans-serif;
}

.step {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  font-family: "SF Pro Rounded", sans-serif;
}

.step h4 {
  font-size: 1.2rem;
  color: rgb(60, 40, 30);
  font-family: "SF Pro Rounded", sans-serif;
}

.step p {
  font-size: 1.1rem;
  color: rgb(184, 109, 84);
  font-family: "SF Pro Rounded", sans-serif;
  font-weight: 200;
}

.step-number {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(253, 163, 145);

  color: rgb(112, 59, 49);
  font-family: "SF Pro Rounded", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}


.border {
  border: 6px rgb(209, 128, 58);
  border-radius: 25px;
  padding: 10px;
}

video {
  width: 800px;
  height: auto;
  border-radius: 12px;
}

.main-screen{
  display: flex;
  /* gap: 10px; */
  justify-content: flex-start;
  /* margin-bottom: 10px; */
}


/* this is space between ICONS and line between playlist items */
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 20px;
  
    padding: 20px;
  border: 5px solid rgb(239, 161, 145);
  /* border-bottom for just the line in between */
  border-radius: 100px;
}

.playlist {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.controls,
.playlist {
  width: 100%;
  max-width: 800px;
}

#progress-bar-container {
  width: 100%;
  height: 10px;
  background-color: rgb(174, 174, 174);
  border-radius: 20px;
  
}
#progress-bar {
  width: 0%;
  display: block;
  background-color: rgb(227, 108, 84);
  height: 100%;
  transition: width 0.2s ease;
  border-radius: 20px;
  
}
 
/* i asked chat gpt how to make the button hover effect smoother,
which is how i implemented the transition code*/
button {
  cursor: pointer;
  padding: 10px;
  font-size: 1.2rem;
  color: black;
  border-radius: 12px;
  background-color: rgba(249, 197, 197, 0.588);
  transition: 0.2s ease;
}

button:hover {
  scale: 1.1;
  background-color: rgb(255, 181, 167);
}

.save-btn {
  margin-top: 20px;
  padding: 15px 20px;
  width: 200px;
  background-color: rgba(249, 197, 197, 0.588);
  color: rgb(120, 70, 60);
  
  border: none;
  border-radius: 12px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.2s ease;
  
}



#likes {
  font-size: 1.5rem;
  color: rgb(168, 55, 55);
}

footer {
  width: 100%;
  text-align: center;
  margin-top: 40px;
  padding: 20px;
}
